.mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: 0.8s all;
}
.mat-toolbar.nav__hidden {
  transform: translateY(-100%);
  transition: 0.8s all;
}

.example-spacer {
  flex: 1 1 auto;
}

.link {
  text-decoration: none;
  margin-left: 1rem;
}

.link__home {
  text-decoration: none;
  display: grid;
  place-content: center;
  color: #fff;
}

.mat-mdc-menu-item {
  display: grid;
  place-content: center;
}

a {
  text-decoration: none;
}
