.images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.img {
  width: 30%;
  height: 300px;
  object-fit: cover;
  transition: all 1s;
}

@media screen and (max-width: 650px) {
  .img {
    width: 45%;
    height: 200px;
  }
}

@media screen and (max-width: 450px) {
  .img {
    width: 90%;
    height: 200px;
  }
}
