.upload {
  margin: 3rem 3%;

  input {
    cursor: pointer;
    padding: 0.5rem;
  }
}
.container {
  display: grid;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
  grid-auto-flow: dense;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0 5%;
}
