<section class="section">
  <form [formGroup]="form" (ngSubmit)="logIn()" class="section__form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="youremail@example.com"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        placeholder="Your password"
        formControlName="password"
        type="password"
      />
    </mat-form-field>

    <div class="btn__container">
      <button mat-raised-button color="primary" type="submit">Log In</button>
      <button mat-raised-button type="button" (click)="auth.googleAuth()">
        <picture>
          <img
            src="../../../assets/google-color.svg"
            alt="google-login"
            width="25"
            height="25"
          />
        </picture>
      </button>
    </div>
  </form>
</section>
