<section class="section">
  <h1>Sign in</h1>
  <form [formGroup]="form" (ngSubmit)="signIn()" class="section__form">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="youremail@example.com"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Create password</mat-label>
      <input
        matInput
        placeholder="Your password"
        formControlName="password"
        type="password"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm your password</mat-label>
      <input
        matInput
        placeholder="Confirm your password"
        formControlName="confirmPassword"
        type="password"
      />
    </mat-form-field>

    <div class="btn__container">
      <button mat-raised-button color="primary" type="submit">Sign In</button>
      <button mat-raised-button type="button" (click)="auth.googleAuth()">
        <picture>
          <img
            src="../../../assets/google-color.svg"
            alt="google-signin"
            width="25"
            height="25"
          />
        </picture>
      </button>
    </div>
  </form>
</section>
