section {
  display: grid;
  place-content: center;
  height: 85vh;
}

.section__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

mat-form-field {
  width: 500px;
  transition: all 2s;
}

.btn__container {
  display: flex;
  gap: 1rem;

  button {
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  mat-form-field {
    width: 300px;
  }
}
